@import '../../styles/variables.scss';

%button {
  border: none;
  border-radius: 2px;
  font-size: 8px;
  padding: 8px 24px;
  box-shadow: 0px 2px 2px #909090;
  text-align: center;
  text-decoration: none;
  border-radius: 100vh;

  &.large {
    padding: 12px 80px;
    font-size: 12px;

    @include screen($breakpoint-mobile, $breakpoint-tablet) {
      /* 640px以上1200px以下のとき */
      padding: 12px 60px;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}

.btnPrimary {
  @extend %button;
  background: linear-gradient(90deg, #84fab0 2.6%, #8fd3f4 100%);
  color: $onPrimary;
}

.btnSecondary {
  @extend %button;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  color: $onSecondary;
}
