@import '../../styles/variables.scss';

.header {
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  position: sticky;
  top: 12px;
  z-index: 10;

  @include max-screen($breakpoint-mobile) {
    /* 640px以下のとき */
    padding: 0 8px;
  }
}

.headerMenu {
  display: flex;
  align-items: center;
}

.logoWrapper {
  display: flex;
  text-align: center;
}

.logo {
  color: $primaryDark;
  text-decoration: none;
  font-weight: bold;
  padding-top: 3px;
}

.link {
  color: $primaryDark;
  text-decoration: none;
  margin: 0px 12px;
  font-weight: bold;

  @include max-screen($breakpoint-mobile) {
    /* 640px以下のとき */
    display: none;
  }
}

.btnWrapper {
}
