@import '../../styles/variables.scss';

.hero {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 64px auto;
  margin-bottom: 128px;
  padding: 0 48px;

  @include max-screen($breakpoint-mobile) {
    /* 640px以下のとき */
    flex-direction: column;
    margin: 0;
    margin: 48px 0;
    text-align: center;
    padding: 0 24px;

    .btnWrapper {
      display: none;
    }
  }
}

.titleWrapper {
  color: $onBackground;
  width: 40%;
  margin-top: 24px;
  padding-left: 48px;

  @include max-screen($breakpoint-tablet) {
    /* 1200px以下のとき */
    width: 60%;
    padding-left: 24px;
  }

  @include max-screen($breakpoint-mobile) {
    /* 640px以下のとき */
    padding: 0;
    margin-top: 0px;
    width: 100%;
  }
}

.title {
  text-align: left;

  h1 {
    font-size: 48px;
  }

  @include max-screen($breakpoint-tablet) {
    /* 1200px以下のとき */
    text-align: left;

    h1 {
      font-size: 36px;
    }
  }

  @include max-screen($breakpoint-mobile) {
    /* 640px以下のとき */
    text-align: center;

    h1 {
      font-size: 36px;
    }
  }
}

.imageWrapper {
  width: 60%;

  @include max-screen($breakpoint-tablet) {
    /* 1200px以下のとき */
    width: 40%;
  }

  @include max-screen($breakpoint-tablet) {
    /* 640px以上のとき */
    width: 100%;
  }
}
