@import '../../styles/variables.scss';

.news {
  color: $onBackground;
  text-align: center;
  padding: 24px 200px;

  h1 {
    color: $onBackground;
    margin: 12px 0;
  }

  @include max-screen($breakpoint-mobile) {
    /* 640px以下のとき */
    padding: 24px;

    text-align: left;

    h1 {
      padding-left: 8px;
    }
  }
}

.newsList {
  background-color: white;
  border-radius: 4px;
  margin: 0 auto;
  padding: 48px 96px;
  padding-bottom: 72px;

  @include max-screen($breakpoint-mobile) {
    /* 640px以下のとき */
    padding: 24px;
    padding-bottom: 64px;
  }
}

.newsListContents {
  text-align: left;
  border-bottom: 2px solid $onSurface;
  padding: 36px 0;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $primaryDark;
    }
  }

  h2 {
    font-size: x-large;
  }

  p {
    margin-bottom: 12px;
  }
}
